<div  class="award">
    <div class="award-box" >
         <div style="background: #ff6c10; text-align: center;  margin-top: -1px;">
             <span class="jifen">108</span>
         </div>
         <div>
             <ul class="award-list">
                 <li><span><i class="dui"></i>我的兑换<i class="dot"></i></span></li>
                 <li><span><i class="jilu"></i>积分记录</span></li>
             </ul>
         </div>
        <div class="p-h">
            商品兑换
        </div>
        <div class="p-list">
            <ul>
                <li>
                  <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
                <li>
                    <img src="resource/zlzq/images/prd.png"/>
                    <h2>手机话费</h2>
                    <span>10元话费=<em>1000</em><i class="sji"></i></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="product-detail" style="display: none">
        <img src="resource/zlzq/images/prd_h.png" style="width: 100%;"/>
        <div style="background: #fff" class="info">
            <h2>10元话费</h2>
            <div style="width: 50%;float: right" class="score-box">当前积分：6650</div>
            <div style="margin-right: 50%" class="j-price">兑换价：999积分</div>
            <div></div>
        </div>

        <div class="tel">
            <div>
                <span class="label">手机号</span>
                <div class="box" style=" width: 100%">
                    <div style="width: 100%;">
                        <input type="text" value="13211111111">
                    </div>
                </div>
            </div>
            <div>
                <span class="label">重复手机号</span>
                <div class="box" style=" width: 100%">
                    <div style="width: 100%;">
                       <input type="text" value="13211111111">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn">确认兑换</div>
    </div>
</div>