
<div class="comment-box">
    <div class="cbox">
        <div class="c-h">
            <div class="pic"><img src="resource/zlzq/images/user.png" ></div>
            <div class="name">千千</div>
            <em>5分钟前</em>
            <ul class="star-list">
                <li class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li></li>
            </ul>
        </div>
        <div class="c-b">
            房子环境还是不错，家具有点旧了，但是房东阿姨很好！
        </div>
    </div>
    <div class="cbox sub">
        <div class="c-h">
            <div class="pic"><img src="resource/zlzq/images/user.png" ></div>
            <div class="name">千千</div>
            <em>5分钟前</em>
            <ul class="star-list">
                <li class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li></li>
            </ul>
        </div>
        <div class="c-b">
            房子环境还是不错，家具有点旧了，但是房东阿姨很好！
        </div>
    </div>
    <div class="cbox">
        <div class="c-h">
            <div class="pic"><img src="resource/zlzq/images/user.png" ></div>
            <div class="name">千千</div>
            <em>5分钟前</em>
            <ul class="star-list">
                <li class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li></li>
            </ul>
        </div>
        <div class="c-b">
            房子环境还是不错，家具有点旧了，但是房东阿姨很好！
        </div>
    </div>
    <div class="cbox">
        <div class="c-h">
            <div class="pic"><img src="resource/zlzq/images/user.png" ></div>
            <div class="name">千千</div>
            <em>5分钟前</em>
            <ul class="star-list">
                <li class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li></li>
            </ul>
        </div>
        <div class="c-b">
            房子环境还是不错，家具有点旧了，但是房东阿姨很好！
        </div>
    </div>
    <div class="cbox">
        <div class="c-h">
            <div class="pic"><img src="resource/zlzq/images/user.png" ></div>
            <div class="name">千千</div>
            <em>5分钟前</em>
            <ul class="star-list">
                <li class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li></li>
            </ul>
        </div>
        <div class="c-b">
            房子环境还是不错，家具有点旧了，但是房东阿姨很好！
        </div>
    </div>
    <div class="cbox">
        <div class="c-h">
            <div class="pic"><img src="resource/zlzq/images/user.png" ></div>
            <div class="name">千千</div>
            <em>5分钟前</em>
            <ul class="star-list">
                <li class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li  class="active"></li>
                <li></li>
            </ul>
        </div>
        <div class="c-b">
            房子环境还是不错，家具有点旧了，但是房东阿姨很好！
        </div>
    </div>
</div>

<div class="bottom-bar">
    <ul>
        <li>
            <i class="b-icon"></i>
            <span>租房</span>
        </li>
        <li>
            <i class="b-icon o-icon"></i>
            <span>约看清单</span>
        </li>
        <!--<li>
            <i class="b-icon c-icon"></i>
            <span>看房日程</span>
        </li>-->
        <li>
            <i class="b-icon i-icon"></i>
            <span>我的</span>
        </li>
    </ul>
</div>