<div class="contract">
    <div class="contract-list-box">
    <ul class="contract-list">
        <li>
            <h1>益天花园1期3栋502室租赁合同</h1>
            <p>甲方：张三&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;乙方：李四</p>
            <em>2015/5/11至2016/5/12</em>
        </li>
        <li class="expired">
            <h1>益天花园1期3栋502室租赁合同</h1>
            <p>甲方：张三&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;乙方：李四</p>
            <em>2015/5/11至2016/5/12</em>
        </li>
    </ul>
    </div>
    <div class="contract-box" style="display:none;">
         <div class="c-item">
             合同编号 <span>11111111111101</span>
         </div>

        <div class="c-party">
            <div class="c-item">
                甲方（出租人）<span>张三</span>
            </div>
            <div class="c-item">
                乙方（承租人）<span>李四</span>
            </div>
        </div>
        <div class="c-d-h">
            合同细则
        </div>
        <div class="c-d-b">
            <div class="c-item">
              房屋概况
            </div>
            <div class="c-item-content">
                1. 甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
            </div>
            <div class="c-item">
                房屋概况
            </div>
            <div class="c-item-content">
                1. 甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
                甲方保证向乙方出租的房屋系(□本人，□共有)拥有完全所有权和使用权，设有房屋它项权利 (如果房屋是共有，则还应增加：已经
            </div>
        </div>

    </div>
</div>