<style type="text/css">
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: default;
        top: 1px;
        height: 20px;
        width: 20px;
        background: none repeat scroll 0 0 #fff;
        border-radius: 10px;
        -webkit-box-shadow: 0 -1px 1px black inset;
    }

    .range-bar {
        height: 2px;
        background: #ADADB4;
        position: relative;
    }

    .range-inner-bar {
        position: absolute;
        left: 0;
        width: 0px;
        height: 2px;
        background: #ff6c10;
        top: 0
    }

    .disable_text_highlighting {
        -webkit-touch-callout: none;
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10  */
        /* Currently not supported in Opera but will be soon */
        -o-user-select: none;
        user-select: none;
    }
    .content{ font-size: 18px;text-align: center;margin-top:10px; }
</style>
<div class="searchBar">
    <div class="searchBar-inner">
        <div class="l-bar">
            <span class="l-ct ">
                <i class="l-ct-inner"></i>
            </span>
            <span class="c-ct active">
                <i class="c-ct-inner"></i>
            </span>
        </div>
        <div class="r-bar">
            <div class="search-box-mask"></div>
            <i class="search-icon"></i>
            <input type="text" placeholder="小区名称或地址" class="search-box">
            <i class="btn">搜索</i>
        </div>
    </div>
</div>

<!--搜索-->
<div class="filter-bar" style="position: fixed;z-index: 3; top:40px; width: 100%">
    <ul class="filter-list">
        <li data-key="area"><span>区域<i class="filter-icon"></i></span></li>
        <li data-key="sort"><span>排序<i class="filter-icon"></i></span></li>
        <li data-key="type"><span>筛选<i class="filter-icon"></i></span></li>
    </ul>
</div>


<div class="type-bar-box ">
    <div>
        <div class="type-bar">
            <div class="control" style="display:none">
                <h2>租金<em>(元/月)</em></h2>
                <div style="margin-top: px">
                    <div class="range-bar disable_text_highlighting" id="rangeBar">
                        <i class="start-tip">不限</i>

                        <div class="range-start-icon"></div>
                        <div class="range-icon" id="icon"></div>
                        <div class="range-value" id="rentValue"></div>
                        <div class="range-inner-bar" id="innerBar"></div>
                    </div>
                </div>
            </div>
            <div class="control" style="   margin-top: 0px; ">
				  <ul class="house-type">
                    <li style="width: 50%;">
                        <div data-type="1">租金</div>
                    </li>
                    <li style="width: 50%;">
                        <div  data-type="2">房型</div>
                    </li>
                  
                </ul>
                <ul class="house-type" style="display:none">
                    <li>
                        <div data-type="1">1室</div>
                    </li>
                    <li>
                        <div  data-type="2">2室</div>
                    </li>
                    <li>
                        <div  data-type="3">3室</div>
                    </li>
                    <li>
                        <div  data-type="4">4室以上</div>
                    </li>
                </ul>
            </div>
            <div class="control">
                <a class="reset">重置</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="yes">确定</a>
            </div>
        </div>
    </div>
</div>
<div class="sort-bar-box ">
    <div class="sort-bar">
        <ul class="sort-list">
            <li class="active" data-sid="0">默认排序</li>
            <li data-sid="1">租金由高到低</li>
            <li data-sid="2">租金由低到高</li>
            <li data-sid="3">按更新时间排序</li>
        </ul>
    </div>
</div>
<div class="area-bar-box " >
    <div class="area-bar" style="position: relative; overflow: hidden;width: 108px;background-color: #eee; ">
        <div class="left-column"  >
            <ul >
                <%_.each(dlist, function(v,i){ %>
                <li data-id="<%=v.id%>">
                    <a>
                        <p><%=v.title%></p>
                    </a>
                </li>
                <%})%>

            </ul>
        </div>
    </div>
</div>

<!--房屋列表-->
<div class="mask"></div>
<div class="house-list-box" style="padding-top: 30px;">
</div>
<div class="bottom-bar">
    <ul>
        <li class="rent">
            <i class="b-icon"></i>
            <span>首页</span>
        </li>
        <li class="order">
            <i class="b-icon o-icon"></i>
            <span>我的订单</span>
        </li>
        <li class="mine">
            <i class="b-icon i-icon"></i>
            <span>我的</span>
        </li>
    </ul>
</div>