<div class="myward">
<div class="award-list"  style="padding: 10px">
    <ul>
        <li>
            <div style="display: table-cell;width: 140px;">
                <img src="resource/zlzq/images/prd.png" style="width: 100%"/>
            </div>
            <div style="display: table-cell; vertical-align:top;  padding-left: 10px">
                <h2>10元话费手机话费</h2>
                <p>消耗2000积分</p>
                <p>2015-05-24</p>
            </div>
        </li>
        <li>
            <div style="display: table-cell;width: 140px;">
                <img src="resource/zlzq/images/prd.png" style="width: 100%"/>
            </div>
            <div style="display: table-cell; vertical-align:top;  padding-left: 10px">
                <h2>10元话费手机话费</h2>
                <p>消耗2000积分</p>
                <p>2015-05-24</p>
            </div>
        </li>
        <li>
            <div style="display: table-cell;width: 140px;">
                <img src="resource/zlzq/images/prd.png" style="width: 100%"/>
            </div>
            <div style="display: table-cell; vertical-align:top;  padding-left: 10px">
                <h2>10元话费手机话费</h2>
                <p>消耗2000积分</p>
                <p>2015-05-24</p>
            </div>
        </li>
    </ul>
    </div>
</div>