<div class="subscribe-bar">
    <div class="label">*起租区间从</div>
	<div style="position:relative">
	   <div style="position:absolute;left:0;top:0;bottom:0;width:100%;" class="timeS-mask"></div>
       <input type="text"  placeholder="点击选择您起租的开始时间" class="timeS" >
	</div>
    <div class="label">*起租区间至</div>
	<div style="position:relative">
	  <div style="position:absolute;left:0;top:0;bottom:0;width:100%;"  class="timeE-mask"></div>
      <input type="text"  placeholder="点击选择您起租的截止时间" class="timeE" >
	</div>
    <div class="label">*租赁月数 </div>
    <div style="position:relative">
        <div style="position:absolute;left:0;top:0;bottom:0;width:100%;"  class="monthC-mask"></div>
        <input type="text"  placeholder="点击选择租赁月数" class="monthC" >
    </div>
    <select name="month" id="years" style="width:108px;height:56px;margin-left: 15px;font-size:17px;padding: 10px;display: none">
        <option value="12">12</option>
        <option value="18">18</option>
        <option value="24">24</option>
        <option value="30">30</option>
        <option value="36">36</option>
    </select>
        <!-- <input type="text"  placeholder="您租几个月" class="years">-->
    <div class="label">联系手机</div>
    <input type="text"  placeholder="您的手机号" class="phone">
</div>