<div class="my-record">
<div class="tab-ct"></div>
    <div class="tab-1">
        <ul>
            <li>
                <h2>注册</h2>
                <span class="date">2015-05-01</span>
                <span class="score">+2000</span>
            </li>
            <li>
                <h2>登录</h2>
                <span class="date">2015-05-01</span>
                <span class="score">+2000</span>
            </li>
            <li>
                <h2>完善信息</h2>
                <span class="date">2015-05-01</span>
                <span class="score">+2000</span>
            </li>
        </ul>
    </div>
    <div class="tab-2" style="display: none">
        <ul>
            <li>
                <h2>约看爽约</h2>
                <span class="date">2015-05-01</span>
                <span class="score">+2000</span>
            </li>
            <li>
                <h2>未按时付款</h2>
                <span class="date">2015-05-01</span>
                <span class="score">+2000</span>
            </li>
            <li>
                <h2>免费打扫服务</h2>
                <span class="date">2015-05-01</span>
                <span class="score">+2000</span>
            </li>
        </ul>
    </div>
</div>