<style type="text/css">

    .content{ font-size: 18px;text-align: center;margin-top:10px; }

</style>
<ul class="house-list order-list">

    <!--<%_.each(list, function(v,i){ %>-->
    <!--<li data-id="<%=v.id%>">-->
        <!--<a>-->
            <!--<div class="img">-->
                <!--<img src="<%=v.avatar.url%>">-->
            <!--</div>-->
            <!--<div class="txt">-->
                <!--<p class="monthly"><em><%=v.price%></em>&nbsp;元&nbsp;/&nbsp;月</p>-->

                <!--<p><%=v.title%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=v.area%>m<sup>2</sup></p>-->

                <!--<p class="addr"><%=v.address%>&nbsp;&nbsp;30号楼</p>-->
                <!--<a class="btn">预约时间</a>-->
            <!--</div>-->
        <!--</a>-->
    <!--</li>-->
    <!--<%})%>-->


    <li>
        <div>
            <div class="img">
                <img src="./resource/zlzq/images/house.jpg">
            </div>
            <div class="txt">
                <p><span class="title">益田花园一期</span>
                    <span class="monthly">
                        <!--<em>8500</em>元/月-->
                    </span>
                </p>
                <p>3室2厅2厨2卫&nbsp;&nbsp;|&nbsp;&nbsp;120m</p>
                <p>合租一室</p>
                <p class="addr">爱建园&nbsp;&nbsp;30号楼</p>
                <a class="btn">预约时间</a>
            </div>
        </div>
    </li>
    <li>
        <div>
            <div class="img">
                <img src="./resource/zlzq/images/house.jpg">
            </div>
            <div class="txt">
                <p><span class="title">益田花园一期</span>
                    <!--<span class="monthly"><em>8500</em>元/月</span>-->
                </p>
                <p>3室2厅2厨2卫&nbsp;&nbsp;|&nbsp;&nbsp;120m</p>
                <p>合租一室</p>
                <p class="addr">爱建园&nbsp;&nbsp;30号楼</p>
                <a class="btn">预约时间</a>
            </div>
        </div>
    </li>
    <li>
        <div>
            <div class="img">
                <img src="./resource/zlzq/images/house.jpg">
            </div>
            <div class="txt">
                <p><span class="title">益田花园一期</span>
                    <!--<span class="monthly"><em>8500</em>元/月</span>-->
                </p>
                <p>3室2厅2厨2卫&nbsp;&nbsp;|&nbsp;&nbsp;120m</p>
                <p>合租一室</p>
                <p class="addr">爱建园&nbsp;&nbsp;30号楼</p>
                <a class="btn">预约时间</a>
            </div>
        </div>
    </li>
    <li>
        <div>
            <div class="img">
                <img src="./resource/zlzq/images/house.jpg">
            </div>
            <div class="txt">
                <p><span class="title">益田花园一期</span>
                    <!--<span class="monthly"><em>8500</em>元/月</span>-->
                </p>
                <p>3室2厅2厨2卫&nbsp;&nbsp;|&nbsp;&nbsp;120m</p>
                <p>合租一室</p>
                <p class="addr">爱建园&nbsp;&nbsp;30号楼</p>
                <a class="btn">预约时间</a>
            </div>
        </div>
    </li>
    <li>
        <div>
            <div class="img">
                <img src="./resource/zlzq/images/house.jpg">
            </div>
            <div class="txt">
                <p><span class="title">益田花园一期</span>
                    <!--<span class="monthly"><em>8500</em>元/月</span>-->
                </p>
                <p>3室2厅2厨2卫&nbsp;&nbsp;|&nbsp;&nbsp;120m</p>
                <p>合租一室</p>
                <p class="addr">爱建园&nbsp;&nbsp;30号楼</p>
                <a class="btn">预约时间</a>
            </div>
        </div>
    </li>
</ul>
<!--<div class="content" >-->
    <!--<h2>约看清单</h2>-->
<!--</div>-->

<div class="bottom-bar">
    <ul>
        <li class="rent">
            <i class="b-icon"></i>
            <span>首页</span>
        </li>
        <li  class="order">
        <i class="b-icon o-icon active "></i>
        <span>约看清单</span>
    </li>
        <!--<li class="schedule">
            <i class="b-icon c-icon "></i>
            <span>看房日程</span>
        </li>-->
        <li class="mine">
            <i class="b-icon i-icon"></i>
            <span>我的</span>
        </li>
    </ul>
</div>