<ul class="schedule-list">
    <li>
        <div class="schedule-d">●&nbsp;05-02(星期六)13:00</div>
        <i class="bar"></i>
        <div class="schedule-b">
            <h2>益田花园一期</h2>
            <p class="info"><span>2室2厨2卫</span>&nbsp;|&nbsp;<span>120m<sup>2</sup></span>&nbsp;|&nbsp;<span>合租一室</span></p>
            <p class="call"><i class="tel"></i> 房东李小姐</p>
        </div>
        <i class="bar"></i>
    </li>
    <li>
        <div class="schedule-d">●&nbsp;05-02(星期六)13:00</div>
        <i class="bar"></i>
        <div class="schedule-b">
            <h2>益田花园一期</h2>
            <p class="info"><span>2室2厨2卫</span>&nbsp;|&nbsp;<span>120m<sup>2</sup></span>&nbsp;|&nbsp;<span>合租一室</span></p>
            <p class="call"><i class="tel"></i> 房东李小姐</p>
        </div>
        <i class="bar"></i>
    </li>
    <li>
        <div class="schedule-d">●&nbsp;05-02(星期六)13:00</div>
        <i class="bar"></i>
        <div class="schedule-b">
            <h2>益田花园一期</h2>
            <p class="info"><span>2室2厨2卫</span>&nbsp;|&nbsp;<span>120m<sup>2</sup></span>&nbsp;|&nbsp;<span>合租一室</span></p>
            <p class="call"><i class="tel"></i> 房东李小姐</p>
        </div>
    </li>
</ul>

<div class="bottom-bar">
    <ul>
        <li class="rent">
            <i class="b-icon"></i>
            <span>首页</span>
        </li>
        <li  class="order">
            <i class="b-icon o-icon "></i>
            <span>约看清单</span>
        </li>
       <!-- <li class="schedule">
            <i class="b-icon c-icon active"></i>
            <span>看房日程</span>
        </li>-->
        <li class="mine">
            <i class="b-icon i-icon"></i>
            <span>我的</span>
        </li>
    </ul>
</div>