<div class="sendconfirm">
    <ul class="sendinvite-box" style="text-align: center;margin-top: 150px" >
        <li>


            <span style="font-size: 16px; font-weight:bold;margin-right: 20px;"> 手机号:</span><input class="sendconfirm_invite" maxlength="20" required="" tabindex="2"  type="text" placeholder="请输入对方的手机号"  style="border: 2px solid #000000;text-align: center;width: 70%;background-color: white"/>

        </li>
    </ul>

    <button class="sendinvite-btn" style="height:45px; width: 100%;background: #ff0000;position:
         fixed;left: 0;bottom: 0;-webkit-border-bottom-left-radius: 3px;-moz-border-radius: 3px;">兑换奖励</button>




</div>