<div class="subscribe-bar">
    <div class="label">看房时间</div>
    <input type="text"  placeholder="点击选择您方便看房的时间" class="visit">
    <div class="label">入住时间</div>
    <input type="text"  placeholder="点击选择您期望入住的时间" class="check">
    <div class="label">联系人</div>
    <input type="text"  placeholder="联系人" class="job">
    <div class="label">性别</div>
    <input type="text"  placeholder="性别"  class="company">
    <div class="label">联系方式</div>
    <div class="address-box">
        <input type="text"  placeholder="联系方式"  class="company">
    </div>
</div>