<style type="text/css">
    /*.cm-header,.cm-header .cm-header-btn{*/
    /*background-color:transparent;*/
    /*}*/
    /*.cm-header .cm-header-btn:active{*/
    /*background-color: transparent;*/
    /*}*/
    .wechate{ padding-bottom: 30px;}

    .wechate ul{ margin: 0 0 0 8px;}
    .wechate li{ border-bottom: 1px solid #e4e4e4; padding: 10px 0 10px 20px;margin:0 auto;}
    .wechate li:last-child{ border-bottom: none;}
    .wechate li > a{ display: block; padding: 8px 0; color: #000; overflow: hidden; *zoom:1;}
    .wechate li .img{ position: relative; float: left; margin-right: 8px; width: 100px; height: 75px; }

    /*.house-list li .state{clear:both; position: relative; float: right; margin-right: 8px;}*/
    .wechate li .img img{ width: 100%; height: 100%; border: solid 1px #E5DDC2; border-radius: 3px;}
    .wechate li .txt{ overflow: hidden; *zoom:1;}
    .wechate li h3{ font-size: 18px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: 20px;color: #EAC447}

    .wechate li .monthly em{ font-size: 18px;}

    .wechate li .monthly{line-height: 30px;color: #ff6c10 }
</style>

<ul class="wechate">
    <li >
        <a>
            <div class="img">
                <img src="./resource/zlzq/images/zlzq.png">
            </div>
            <div class="txt">

                <p class="monthly">租来租去</p>
                <p></p>
                <p class="addr" style="margin-top: 10px">请微信登录搜索我们的公众账号：租来租去</p>

            </div>
        </a>
    </li>

</ul>
<div>
    <div style="text-align: center;">
        <a href="file:///android_asset/www/resource/zlzq/images/wechat.jpg">
            <img id="qrcode" src="./resource/zlzq/images/wechat.jpg" style="width: 280px;height: 280px">
        </a>
    </div>
    <div style="text-align: center;margin-top: 20px">
        扫描二维码,关注微信
    </div>
</div>

